.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.header__container {
  @extend %container;
  display: flex;
  align-items: center;
  height: 59px;

  @media screen and (min-width: 768px) {
    height: 79px;
  }

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

.header_wraper {
  align-items: center;
  @media screen and (max-width: 767px) {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    padding: 48px 40px;
    
    z-index: 998;
    transform: translateX(-100%);
    transition: $transition;

    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      background-color: $primeri-bg-color;
      transform: translateX(0);
      height: 100vh;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.header-box {
  @media screen and (max-width: 767px) {
    position: fixed;
  }
}

// .header_indent {
//   @media screen and (max-width: 767px) {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//   }
// }
