.logo {
   @extend %link;  
  // margin-right: 93px;

  @include text(rgba(0, 0, 0, 1));
  font-family: $secondari-font-family;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

 .logo__span {
  color: rgba(33, 150, 243, 1);
}

.logo--footer {
  display: block;
  @include text($tertiary-text-color);
  @include margin-bottom(20px);
  @include margin-right(0);
}
