.modal {
  position: relative;  
  border-radius: 4px;
  padding: 40px;

  background-color: $primeri-bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (max-width: 1199px) {
    max-width: 450px;
    height: 609px;
  }

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}

.modal__button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: $primeri-bg-color;
}

.modal__icon-close {
  width: 30px;
  height: 30px;
  fill: currentColor;
  transition: color $transition;

  .modal__button:hover &,
  .modal__button:focus & {
    color: $hover-color;
  }
}

.modal__text {
  font-family: $primeri-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: #212121;

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}
