.priorities {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.priorities__container {
  @extend %container;
}

.priorities__title {
  margin: 0;
}

.priorities__list {
  @extend %list;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.priorities__item {
    margin-bottom: 30px;

&:last-child {
     margin-bottom: 0;
}

  @media screen and (min-width: 768px) {
       width: 270px;
    &:nth-child(2n + 1) {     
      margin-right: 30px;

      &:nth-child(3) {
         margin-bottom: 0;  
      }
    }

    @media screen and (min-width: 1200px) {
       margin-bottom: 0; 
        
      &:last-child {
        margin-right: 0;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.priorities__box {
  display: flex;
  justify-content: center;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: $prioritis-bg-color;
  border-radius: 4px;
}

.priorities__icon {
  width: 70px;
  height: 70px;
  align-items: center;
}

.priorities__headline {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $secondari-text-color;
}

.priorities__paragraph {   
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em; 
}
